{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .username-span{
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
	}
    .username-span:hover{
		cursor: pointer;
	}
    .friends-list-container{
		max-height: 500px;
		overflow-y: scroll;
	}
    .friend-container:hover{
		background: var(--main-background-color);
		cursor: pointer;
	}
    .edit-button:hover{
        cursor: pointer;
    }
    #accept-button{
        margin-left:5px;
    }
    #cancel-button{
        margin-left: 5px;
    }
    #accept-button:hover{
        cursor: pointer;
    }
    #cancel-button:hover{
        cursor: pointer;
    }
	.profile-image-small{
		width: 25px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: auto;
		margin-right: 5px;
	}
	.profile-image-small:hover{
		cursor: pointer;
	}
</style>

<div class="container-fluid">
	<div class="row" style="padding-top: 100px;">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
            <div style="margin-left: 80px;">
                <div id="group-name-element">
                    <h3 style="display: inline-block;">Group name: </h3> <h3 style="display: inline-block;" id="group-name">{{group_title}}</h3> <span class="material-icons edit-button" title="Edit" id="edit-name-button" onclick="trigerReplaceTitle()">edit_square</span>
                </div>
                <h4>Owner: {{owner}}</h4>
                <button type="button" class="btn btn-danger btn-md" id="leave-group-button" onclick="confirmLeaveGroup()">
                    Leave group
                </button>
            </div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
    <div class="row" style="padding-top: 100px;">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
            <div class="row" style="min-height: 100px;">
				<div class="col-md-4">
                    <div class="col-sm-12 m-0 p-2">
                        <div class="card">
                            <div class="d-flex flex-row align-items-center card-header">
                                <h3 >Add friends</h3>
                            </div>
                            <div class="card-body p-1">	
                                <div class="d-flex flex-column friends-list-container ">
                                    {% if friends %}
                                        {% for friend in friends %}
                                        <div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="checkFriend('{{friend.id}}')">
                                            <img class="profile-image-small rounded-circle img-fluid" id="id_friend_img_{{friend.id}}" src="{% static 'images/dummy-profile.png' %}" >
                                            <div class="d-flex flex-column">
                                                <span class="username-span">
                                                    {{friend.username}}
                                                </span>								
                                            </div>
                                            <div class="d-flex flex-column" style="margin-left: auto;">
                                                <input id="{{friend.id}}" type="checkbox" onclick="addOrRemoveSelectedUser('{{friend.id}}')">								
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>You have no friends to add.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary disabled" style="margin-left: 9px;" id="add-friends-to-group-button" onClick="addFriendToGroupTrigger()">
                        Add to group
                    </button>
				</div>
				<div class="col-md-4">
                    <div class="col-sm-12 m-0 p-2">
                        <div class="card">
                            <div class="d-flex flex-row align-items-center card-header">
                                <h3 >Group members</h3>
                            </div>
                            <div class="card-body p-1">	
                                <div class="d-flex flex-column friends-list-container ">
                                    {% for friend in group_friends %}
                                    <div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="checkFriend('member{{friend.0.id}}')">
                                        <img class="profile-image-small rounded-circle img-fluid" id="id_group_friend_img_{{friend.0.id}}" src="{% static 'images/dummy-profile.png' %}" >
                                        <div class="d-flex flex-column">
                                            <span class="username-span">
                                                {{friend.0.username}}
                                            </span>								
                                        </div>
                                        {% if friend.1 %}
                                        <div class="d-flex flex-column" style="margin-left: auto;">
                                            <p style="font-size: 12px; height: 5px;">Owner</p>
                                        </div>
                                        {% elif friend.0 == request.user%}
                                        <div class="d-flex flex-column" style="margin-left: auto;">
                                            <p style="font-size: 12px; height: 5px;">This is you</p>
                                        </div>
                                        {% elif friend.2 %}
                                            {% if owner == request.user %}
                                            <div class="d-flex flex-column" style="margin-left: auto;">
                                                <input id="member{{friend.0.id}}" type="checkbox" onclick="addOrRemoveSelectedMember('{{friend.0.id}}')">								
                                            </div>
                                            {% else %}
                                            <div class="d-flex flex-column" style="margin-left: auto;">
                                                <p style="font-size: 12px; height: 5px;">Admin</p>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                        <div class="d-flex flex-column" style="margin-left: auto;">
                                            <input id="member{{friend.0.id}}" type="checkbox" onclick="addOrRemoveSelectedMember('{{friend.0.id}}')">								
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary disabled" style="margin-left: 9px;" id="remove-friends-from-group-button" onclick="removeFriendFromGroupTrigger()">
                        Remove from group
                    </button>
                    {% if owner == request.user%}
                    <button type="button" class="btn btn-primary disabled" style="margin-left: 9px;" id="promote-user-to-admin-button" onclick="promoteUsersToAdminTrigger()">
                        Promote to admin
                    </button>
                    {% endif %}
                    
				</div>
				<div class="col-md-4">
                    <div class="col-sm-12 m-0 p-2">
                        <div class="card">
                            <div class="d-flex flex-row align-items-center card-header">
                                <h3 >Admins</h3>
                            </div>
                            <div class="card-body p-1">	
                                <div class="d-flex flex-column friends-list-container ">
                                    {% for friend in admins %}
                                    <div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="checkFriend('admin{{friend.id}}')">
                                        <img class="profile-image-small rounded-circle img-fluid" id="id_admin_img_{{friend.id}}" src="{% static 'images/dummy-profile.png' %}" >
                                        <div class="d-flex flex-column">
                                            <span class="username-span">
                                                {{friend.username}}
                                            </span>								
                                        </div>
                                        {% if owner == request.user %}
                                            {% if owner == friend %}
                                            <div class="d-flex flex-column" style="margin-left: auto;">
                                                <p style="font-size: 12px; height: 5px;">This is you</p>
                                            </div>
                                            {% else %}
                                            <div class="d-flex flex-column" style="margin-left: auto;">
                                                <input type="checkbox" id="admin{{friend.id}}" onclick="addOrRemoveAdmin('{{friend.id}}')">
                                            </div>
                                            {% endif %}
                                        
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if owner == request.user %}
                    <button type="button" class="btn btn-primary disabled" style="margin-left: 9px;" id="remove-from-admins-button" onclick="removeFromAdminsTrigger()">
                        Remove from admins
                    </button>
                    {% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% include 'group_chat/snippets/edit_group_title.html' %}
{% include 'group_chat/snippets/add_friend_to_group.html' %}
{% include 'group_chat/snippets/remove_friend_from_group.html' %}
{% include 'group_chat/snippets/promote_user_to_admin.html' %}
{% include 'group_chat/snippets/remove_from_admins.html' %}
{% include 'group_chat/snippets/leave_group.html' %}

<script type="text/javaScript">

    preloadImageTrigger()

    function preloadImageTrigger(){
        {% for friend in friends %}
            preloadImage("{{friend.profile_image.url|safe}}", "id_friend_img_{{friend.id}}")
        {% endfor %}
        {% for friend in group_friends %}
            preloadImage("{{friend.0.profile_image.url|safe}}", "id_group_friend_img_{{friend.0.id}}")
        {% endfor %}
        {% for friend in admins %}
            preloadImage("{{friend.profile_image.url|safe}}", "id_admin_img_{{friend.id}}")
        {% endfor %}
    }

    function replaceTitle(){
        // Remove old title element
        var old_title_element = document.getElementById("group-name");
        old_title_element.remove();
        // Remove old edit button
        var edit_button = document.getElementById("edit-name-button")
        edit_button.remove();
        // Create new input element
        var name_element= document.getElementById("group-name-element");
        var new_title_element = document.createElement("input");
        new_title_element.setAttribute("id", "new-title-element")
        // Add value to the input
        new_title_element.value = "{{group_title}}";
        // Add input element to div
        name_element.appendChild(new_title_element);

        // Create accept button element and append it to div
        var accept_button = document.createElement("span");
        accept_button.setAttribute("id", "accept-button")
        accept_button.classList.add("material-icons");
        accept_button.innerHTML = "check_circle";
        accept_button.onclick = trigerEditTitle;
        name_element.appendChild(accept_button);

        // Create cancel button and append it to div
        var cancel_button = document.createElement("span");
        cancel_button.classList.add("material-icons");
        cancel_button.setAttribute("id", "cancel-button")
        cancel_button.innerHTML = "dangerous";
        cancel_button.style.fontSize = "26px"
        cancel_button.onclick = trigerRestoreTitle;
        name_element.appendChild(cancel_button);
  
    }

    function restoreTitle(){
        var inp = document.getElementById("new-title-element")
        var acc = document.getElementById("accept-button")
        var can = document.getElementById("cancel-button")
        inp.remove()
        acc.remove()
        can.remove()

        // Parent element
        var group_name_element = document.getElementById("group-name-element");
        // Restore title
        var restored_title_element = document.createElement("h3");
        restored_title_element.innerHTML = "{{group_title}}";
        restored_title_element.style.display = "inline-block";
        restored_title_element.setAttribute("id", "group-name");

        group_name_element.appendChild(restored_title_element)

        // Restore edit title button
        var restored_edit_button = document.createElement("span");
        restored_edit_button.classList.add("material-icons");
        restored_edit_button.classList.add("edit-button");
        restored_edit_button.setAttribute("title", "Edit")
        restored_edit_button.setAttribute("id", "edit-name-button");
        restored_edit_button.innerHTML = "edit_square";
        restored_edit_button.onclick = trigerReplaceTitle;

        group_name_element.appendChild(restored_edit_button);

    }

    function trigerReplaceTitle() {
        replaceTitle()
    }

    function trigerRestoreTitle() {
        restoreTitle()
    }

    function trigerEditTitle(){
    // Send ajax request to backend
    var new_title = document.getElementById("new-title-element").value;
    var group_id = "{{group_id}}"
    editGroupTitle(new_title, group_id, refreshFunction);
    }

    
</script>
{% endblock %}
