<script type="text/javaScript">

function deleteGroup(group_id, confirmation_text, redirectFunction){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"group_id": group_id,
			"confirmation_text": confirmation_text,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'group_chat:delete-group' %}",
			data: payload,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Group deleted."){
					redirectFunction()
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				//alert("Something went wrong.")
			},
			complete: function(data){
			}
		});
	}

    function redirectFunction(){
        var url = "{% url 'group_chat:group-chat-room' %}"
        window.location.href = url;
    }

	function displayAlert() {
		// Display confirmation alert
		let alert = document.getElementById("delete-alert")
		alert.style.display = ''
	}

	function alertHide() {
		// Hide confirmation alert
		let alert = document.getElementById("delete-alert")
		alert.style.display = 'none'
	}


    function confirmDeleteGroup() {
        let text = "Are you sure you want to delete this group?"
        if (confirm(text) == true){
            // Trigger display information alert
			displayAlert()
        }else{
            // Nothing
        }
    }

	function deleteGroupTrigger() {
		let confirmation_text = document.getElementById('confirmation-text').value
		deleteGroup('{{group_id}}', confirmation_text, redirectFunction, refreshFunction)
	}
</script>